In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# load the Titanic dataset
import pandas as pd
import numpy as np

# Your Paths Here
df2014 = pd.read_csv('C:/Users/taniat470s/Desktop/SMU_course/DS7331/EduData/EducationDataNC/2014/Machine Learning Datasets/PublicSchools2014_MLnew.csv') # read in the csv file
df2015 = pd.read_csv('C:/Users/taniat470s/Desktop/SMU_course/DS7331/EduData/EducationDataNC/2015/Machine Learning Datasets/PublicSchools2015_MLnew.csv') # read in the csv file
df2016 = pd.read_csv('C:/Users/taniat470s/Desktop/SMU_course/DS7331/EduData/EducationDataNC/2016/Machine Learning Datasets/PublicSchools2016_MLnew.csv') # read in the csv file
df2017 = pd.read_csv('C:/Users/taniat470s/Desktop/SMU_course/DS7331/EduData/EducationDataNC/2017/Machine Learning Datasets/PublicSchools2017_MLnew.csv') # read in the csv file
df2018 = pd.read_csv('C:/Users/taniat470s/Desktop/SMU_course/DS7331/EduData/EducationDataNC/2018/Machine Learning Datasets/PublicSchools2018_MLnew.csv') # read in the csv file
df2019 = pd.read_csv('C:/Users/taniat470s/Desktop/SMU_course/DS7331/EduData/EducationDataNC/2019/Machine Learning Datasets/PublicSchools2019_MLnew.csv') # read in the csv file

df2014.shape
df2015.shape
df2016.shape
df2017.shape
df2018.shape
df2019.shape

(2426, 318)

(2432, 335)

(2430, 328)

(2443, 328)

(2460, 599)

(2517, 197)

In [17]:
df2014['Year'] = 2014
df2015['Year'] = 2015 
df2016['Year'] = 2016 
df2017['Year'] = 2017 
df2018['Year'] = 2018 
df2019['Year'] = 2019

In [7]:
frames = [df2014, df2015, df2016, df2017, df2018, df2019]
df_comb_14to19 = pd.concat(frames,join='inner', ignore_index=True)
df_comb_14to19.shape

(14708, 9)

In [18]:
frames = [df2014, df2015, df2016, df2017]
df_comb_test = pd.concat(frames,join='inner', ignore_index=True)
df_comb_test.shape

(9731, 259)

In [19]:
df_comb_test['Year']

0       2014
1       2014
2       2014
3       2014
4       2014
        ...
9726    2017
9727    2017
9728    2017
9729    2017
9730    2017
Name: Year, Length: 9731, dtype: int64

In [20]:
#Location where the new school datasets will be created.
outputDir = 'C:/Users/taniat470s/Desktop/SMU_course/DS7331/'
df_comb_test.to_csv(outputDir + 'PublicSchools2014to2017_YZ.csv', sep=',', index=False)